name: Deploy Docker

on:
  workflow_call:
  workflow_dispatch:

env:
  IMAGE_NAME: spring-data-rest

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.DOCKER_TOKEN }}
            docker pull ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
            docker stop "${{ env.IMAGE_NAME }}" || true
            docker rm "${{ env.IMAGE_NAME }}" || true
            docker run -d --name "${{ env.IMAGE_NAME }}" -p 80:8080 ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest

        
